@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html, body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #9698a6; }

.section-inner {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px; }

.title {
  color: #2d314d;
  font-weight: 300; }

.button {
  border: none;
  border-radius: 36px;
  cursor: pointer;
  background: linear-gradient(135deg, #31d35c, #2bb7da);
  width: 165px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  color: #f3f4f6; }

.button:hover {
  filter: opacity(70%); }

.section-header {
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 3; }
  .section-header .section-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 0; }

.header__logo {
  padding: 13px 0; }

.header__nav {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 300; }

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex; }

.nav__item {
  padding: 0 15px; }

.nav__link {
  color: #9698a6;
  text-decoration: none; }

.section-intro {
  background-color: #fafafa;
  overflow: hidden; }
  .section-intro .section-inner {
    display: flex; }

.intro__content {
  min-width: 33vw;
  margin-top: 124px; }

.intro__title {
  font-size: 3em;
  line-height: 1.15; }

.intro__button {
  margin: 14px 0; }

.intro__image {
  transform: translate3d(10px, -270px, 0px);
  position: relative; }

.intro__mockups {
  position: absolute;
  top: 140px;
  right: 325px; }

.section-features {
  background-color: #f3f4f6;
  margin-top: -480px; }
  .section-features .section-inner {
    padding-top: 60px; }

.features__title {
  font-size: 2.2rem;
  margin-bottom: 0; }

.features__description {
  margin-bottom: 4.2rem; }

.features__cards {
  display: flex;
  gap: 1.5rem; }

.card__title {
  font-size: 1.3rem; }

.card__text {
  font-size: 0.85rem;
  line-height: 1.75; }

.section-articles {
  background-color: #fafafa; }
  .section-articles .section-inner {
    padding-top: 50px;
    padding-bottom: 85px; }

.articles__title {
  font-size: 2.2rem;
  margin-bottom: 2.4rem; }

.articles__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem; }

.articles__card {
  background-color: #fff;
  border-radius: 5px; }

.article__image {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  width: 256px;
  height: 200px; }

.article__content {
  padding: 0.5rem 1.3rem 0.5rem 1.5rem; }

.article__author {
  font-size: 0.55rem;
  padding: 0.2rem 0; }

.article__title {
  color: #2d314d;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.15rem 0;
  padding: 0.1rem 0; }

.article__link {
  color: #2d314d;
  cursor: pointer;
  text-decoration: none; }

.article__link:hover {
  color: #31d35c; }

.article__text {
  font-size: 0.7rem;
  margin-top: 0;
  line-height: 1.35; }

.section-footer {
  background-color: #2d314d; }
  .section-footer .section-inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footer__socials {
  margin: 2.5rem 0 0;
  padding: 0;
  list-style: none; }

.socials__item {
  display: inline-block;
  margin-right: 10px; }

.socials__link {
  display: inline-block;
  height: 20px;
  width: 20px; }

.socials__link:hover {
  color: #31d35c; }

.socials__link_facebook {
  background: url(../images/icon-facebook.svg) no-repeat center; }

.socials__link_youtube {
  background: url(../images/icon-youtube.svg) no-repeat center; }

.socials__link_twitter {
  background: url(../images/icon-twitter.svg) no-repeat center; }

.socials__link_pinterest {
  background: url(../images/icon-pinterest.svg) no-repeat center; }

.socials__link_instagram {
  background: url(../images/icon-instagram.svg) no-repeat center; }

.footer__nav {
  max-width: 35vw; }
  .footer__nav .nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .footer__nav .nav__link {
    color: white; }
  .footer__nav .nav__link:hover {
    color: #31d35c; }
  .footer__nav .nav__item {
    font-size: 0.85rem;
    font-weight: 300;
    padding: 0.5rem 2.5rem; }

.footer__info {
  text-align: right; }

.footer__copyright {
  font-size: 0.85rem; }
