@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap'); 

// === MIXINS ===
@mixin public-sans {
    font-family: 'Public Sans', sans-serif;
}


// === VARIABLES ===
$fw-light: 300; 
$fw-regular: 400; 
$fw-bold: 700; 
$font-size-body: 18px;
$line-height: 1.5;
$content-width: 1120px;
$padding-vertical: 90px;


$color-primary-dark-blue: hsl(233, 26%, 24%);
$color-primary-lime-green: hsl(136, 65%, 51%);
$color-primary-bright-cyan: hsl(192, 70%, 51%);
$color-neutral-grayish-blue: hsl(233, 8%, 62%);
$color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);


// === COMMON ===
body {
    @include public-sans;
    font-size: $font-size-body;
    line-height: $line-height;
    color: $color-neutral-grayish-blue;
}

// .section-outer {
//     background-color: aquamarine;
// }

.section-inner {
    max-width: $content-width;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
}

// === HEADER ===
.section-header {
    background-color: $color-neutral-white; 
    position: fixed;
    width: 100vw;
    z-index: 3; 
    .section-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 18px 0;
    }
}

.header__logo {
    padding: 13px 0;
}

.header__nav {
    padding: 12px 0;
    font-size: 14px;
    font-weight: $fw-light;
}

.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav__item {
    padding: 0 15px;
}

.nav__link {
    color: $color-neutral-grayish-blue; 
    text-decoration: none;
}

.button {
    border: none;
    border-radius: 36px;
    cursor: pointer;
    background: linear-gradient(135deg, $color-primary-lime-green, $color-primary-bright-cyan);
    width: 165px;
    height: 44px;
    font-size: 14px;
    font-weight: $fw-regular;
    color: $color-neutral-light-grayish-blue;
}

// === INTRO ===
.section-intro {
    background-color: $color-neutral-very-light-gray;
    overflow: hidden;
    .section-inner {
        display: flex;
    }
}

.intro__content {
    min-width: 33vw;
    margin-top: 124px;
}


.intro__title {
    color: $color-primary-dark-blue;
    font-size: 3em;
    font-weight: $fw-light;
    line-height: 1.15;
}

.intro__button {
    margin: 14px 0;
}

.intro__image {
    transform: translate3d(10px, -270px, 0px);
    position: relative;
}


.intro__mockups {
    position: absolute;
    top: 140px;
    right: 325px;
}


// === FEATURES ===
.section-features {
    background-color: $color-neutral-light-grayish-blue;
    margin-top: -450px;
    .section-inner {
        padding-top: 180px;
    }
}

// === ARTICLES ===
.section-articles {
    background-color: $color-neutral-very-light-gray;

}

// === FOOTER ===
.section-footer {
    background-color: $color-primary-dark-blue;
    color: hsl(180, 100%, 100%);

}