@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap'); 

// === MIXINS ===
@mixin public-sans {
    font-family: 'Public Sans', sans-serif;
}


// === VARIABLES ===
$fw-light: 300; 
$fw-regular: 400; 
$fw-bold: 700; 
$font-size-body: 18px;
$line-height: 1.5;
$content-width: 1120px;
$padding-vertical: 90px;


$color-primary-dark-blue: hsl(233, 26%, 24%);
$color-primary-lime-green: hsl(136, 65%, 51%);
$color-primary-bright-cyan: hsl(192, 70%, 51%);
$color-neutral-grayish-blue: hsl(233, 8%, 62%);
$color-neutral-light-grayish-blue: hsl(220, 16%, 96%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-active: hsl(158,61%,48%);


// === COMMON ===
html, body {
    @include public-sans;
    font-size: $font-size-body;
    line-height: $line-height;
    color: $color-neutral-grayish-blue;
}


// .section-outer {
//     background-color: aquamarine;
// }

.section-inner {
    max-width: $content-width;
    margin: 0 auto;
    padding: $padding-vertical 1.5rem;
    // padding-top: $padding-vertical;
    // padding-bottom: $padding-vertical;
}

.title {
    color: $color-primary-dark-blue; 
    font-weight: $fw-light;
}

.button {
    border: none;
    border-radius: 36px;
    cursor: pointer;
    background: linear-gradient(135deg, $color-primary-lime-green, $color-primary-bright-cyan);
    width: 165px;
    height: 44px;
    font-size: 14px;
    font-weight: $fw-regular;
    color: $color-neutral-light-grayish-blue;
}

.button:hover {
    filter: opacity(70%);
}

// === HEADER ===
.section-header {
    background-color: $color-neutral-white; 
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 3; 
    .section-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
    }
}

.header__logo {
    padding: 30px 0;
}

.header__nav {
    font-size: 14px;
    font-weight: $fw-light;

    .nav__list {
        height: 80px;
        align-items: center;
    }
    .nav__item{
        padding: 0 14px;
    }
    .nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        padding: 0 1px;
        background:  no-repeat 0 100%;
        background-image: linear-gradient(45deg, $color-primary-lime-green,$color-primary-bright-cyan);
        background-size: 0% 4px;
        transition: background-size .2s ease-in-out;
    }

    .nav__link:hover,
    .nav__link:active {
        background-size: 100% 4px;
    }
}

.nav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;    
}

.nav__link {
    color: $color-neutral-grayish-blue; 
    text-decoration: none;
}

.header__hamburger {
    width: 24px;
    height: 19px;
    border: none;
    cursor: pointer;
    background: url(../images/icon-hamburger.svg) no-repeat center;
    transition: background 0.3s ease-in-out;
    display: none;
}


@media (max-width: 768px) {

    .header__nav {
        .nav__list {
            position: absolute;
            top: 100px;
            right: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px; 
            height: 300px;
            background-color: $color-neutral-white; 
            text-align: center;
            border-radius: 5px;
        
            .nav__item {
                width: 100%;
                border-radius: 5px;
                padding: 0;
            }
    
            .nav__link {
                color: $color-primary-dark-blue; 
                font-weight: $fw-regular;
                font-size: 15px;
                height: 50px;
            }
        }
        .menu {
            display: none;
            transition: display 0.3s ease-in-out;
        }
    }


    .header__button {
        display: none;
    }
    
    .header__hamburger {
        display: block;
    }

    .menu.is-active {
        display: flex;
        // make intro bgr partially transparent;
        // backdrop-filter: drop-shadow(2px 7px 20px $color-primary-dark-blue) 
        box-shadow: 2px 2px 40px 20px $color-primary-dark-blue;
    }

    .header__hamburger.is-active {
        background: url(../images/icon-close.svg) no-repeat center;
    }
}


// === INTRO ===
.section-intro {
    background-color: $color-neutral-very-light-gray;
    overflow: hidden;
    .section-inner {
        display: flex;
    }
}

@media (max-width: 480px) {
    .section-intro {
        .section-inner {
            flex-direction: column-reverse;
        }
    }
}
// tablets
@media (max-width: 768px) {

}

.intro__content {
    min-width: 33vw;
    margin-top: 124px;
}

.intro__title {
    font-size: 3em;
    line-height: 1.15;
}

.intro__button {
    margin: 14px 0;
}

.intro__image {
    transform: translate3d(10px, -270px, 0px);
    position: relative;
}

.intro__mockups {
    position: absolute;
    top: 140px;
    right: 325px;
}


// === FEATURES ===
.section-features {
    background-color: $color-neutral-light-grayish-blue;
    margin-top: -480px;
    .section-inner {
        padding-top: 60px;
    }
}

.features__title {
    font-size: 2.2rem;
    margin-bottom: 0;
}

.features__description {
    margin-bottom: 4.2rem;
}

.features__cards {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .features__cards {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 480px) {
    .features__cards {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
// TODO: more padding for mobile!!
.card__title {
    font-size: 1.3rem;
}

.card__text {
    font-size: 0.85rem;
    line-height: 1.75;
}

// === ARTICLES ===
.section-articles {
    background-color: $color-neutral-very-light-gray;
    .section-inner {
        padding-top: 50px;
        padding-bottom: 85px;
    }

}

.articles__title {
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
}

.articles__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 1.5rem;
}

.articles__card {
    background-color: #fff;
    border-radius: 5px;
}

.article__image {
    object-fit: cover; 
    border-radius: 5px 5px 0 0;
    text-align: center;
    width: 100%;
    aspect-ratio: 256 / 200;
}

.article__content {
    padding: 0.5rem 1.3rem 0.5rem 1.5rem;
}

.article__author {
    font-size: 0.55rem;
    padding: 0.2rem 0;
}

.article__title {
    color: $color-primary-dark-blue;
    font-size: 0.9rem;
    font-weight: $fw-light;
    margin: 0.15rem 0;
    padding: 0.1rem 0;
}

.article__link {
    color: $color-primary-dark-blue;
    cursor: pointer; 
    text-decoration: none; 
}

.article__link:hover, 
.article__link:active {
    color: $color-active;
}

.article__text {
    font-size: 0.7rem;
    margin-top: 0;
    line-height: 1.35;
}

// === FOOTER ===
.section-footer {
    background-color: $color-primary-dark-blue;
    .section-inner {
        padding: 50px 0;
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .section-footer .section-inner {
        flex-direction: column;
        justify-content: center;
    }
}

.footer__socials {
    margin: 2.5rem 0 0;
    padding: 0;
    list-style: none; 
}

.socials__item {
    display: inline-block;
    margin-right: 10px;
}

.socials__link {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.socials__link_facebook {
    background: url(../images/icon-facebook.svg) no-repeat center;

}

.socials__link_facebook:hover, 
.socials__link_facebook:active {
    background: url(../images/icon-facebook-active.svg) no-repeat center;
}

.socials__link_youtube {
    background: url(../images/icon-youtube.svg) no-repeat center;
}

.socials__link_youtube:hover, 
.socials__link_youtube:active {
    background: url(../images/icon-youtube-active.svg) no-repeat center;
}

.socials__link_twitter {
    background: url(../images/icon-twitter.svg) no-repeat center;
}

.socials__link_twitter:hover, 
.socials__link_twitter:active {
    background: url(../images/icon-twitter-active.svg) no-repeat center;
}

.socials__link_pinterest {
    background: url(../images/icon-pinterest.svg) no-repeat center;
}

.socials__link_pinterest:hover, 
.socials__link_pinterest:active {
    background: url(../images/icon-pinterest-active.svg) no-repeat center;
}

.socials__link_instagram {
    background: url(../images/icon-instagram.svg) no-repeat center;
}

.socials__link_instagram:hover,
.socials__link_instagram:active {
    background: url(../images/icon-instagram-active.svg) no-repeat center;
}


.footer__nav {
    max-width: 35vw;
    .nav__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav__link {
        color: $color-neutral-white;
    }

    .nav__link:hover, 
    .nav__link:active {
        color: $color-active;
    }
    .nav__item {
        font-size: 0.85rem;
        font-weight: $fw-light;
        padding: 0.5rem 2.5rem;
    }
}

.footer__info {
    text-align: right;
}
.footer__copyright {
    font-size: 0.85rem;
}